<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496657358360-g2s7armca3d3s92kmvhqp27n7fg4sejo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496657358360-g2s7armca3d3s92kmvhqp27n7fg4sejo</string>
	<key>API_KEY</key>
	<string>AIzaSyBgRUCwtkazE0XOuBCgenmEm5pbcfgQs6o</string>
	<key>GCM_SENDER_ID</key>
	<string>496657358360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinemdemirey.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-8a040</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-8a040.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496657358360:ios:81940b98f0d9381f736d6d</string>
	<key>DATABASE_URL</key>
	<string>https://instagramapp-8a040.firebaseio.com</string>
</dict>
</plist>